html , body{
	padding: 0;
	margin:0;
	overflow-x: hidden;
	background-color: #222222;
}
*{
	box-sizing: border-box;
	font-family: calibri;
}
.container{
	display: block;
	max-width: 100%;
}

.row{
	display: block;
	width: 100%;
}
.img-responsive{
	max-width: 100%;
	height: auto;
}

.thumbnail{
	padding: 10px;
	background-color: white;
	border-radius: 3px;
}
.mini-title{
  	font-size: 0.8em;
  	letter-spacing: 2px;
  	text-transform: uppercase;
  	color: #D0D0D0;
  	font-family: calibri;
  	font-weight: 900;
  	text-transform: uppercase;
}
hr{
	border:none;
	height: 7px;
	background-color: #9E0707;
	width: 10%;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 10px;
}
.button{
  display: block;
  width: 20%;
  margin: auto;
  background-color: #A40F0E;
  color: white;
  padding: 0.6% 2% 0.6% 2%;
  text-decoration: none;
  text-transform: uppercase;
}