.bottom-event{
	padding: 0;
}

.event-item{	
	text-align: center;
	width: 19%;
	height: 50px;
	padding-top: 12px;
}

.event-item a {
	text-decoration: none;
	color: inherit;
	color: white;
}

.event-item:hover{
	background-color: red;
}


.event-head{
	font-size: 24pt;
	color: red;
	text-shadow: 2px 2px 2px black;
	margin:30px;
}

.event-title{
	color: red;
	text-align: center;
}

.event-description{
	text-align: justify;
	color: white;
}


