html , body{
  padding: 0;
  margin:0;
 /* overflow-x: hidden;*/
}
a{
  text-decoration: none;
}
*{
  box-sizing: border-box;
  font-family: calibri;
}
.container{
  display: block;
  max-width: 100%;
}

.row{
  display: block;
  width: 100%;
}
.img-responsive{
  max-width: 100%;
  height: auto;
}

.thumbnail{
  padding: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px #757575;
  border-radius: 3px;
}
.mini-title{
  font-size: 0.8em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: calibri;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px;
}
hr{
  border:none;
  height: 7px;
  width: 10%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}
.button{
  display: block;
  width: 20%;
  margin: auto;
  background-color: #A40F0E;
  color: white;
  padding: 0.6% 2% 0.6% 2%;
  text-decoration: none;
  text-transform: uppercase;
}
.hidden{
  opacity: 0;
}
.visible{
  opacity: 1;
}
.disnone{
  display: none;
}
.disblock{
  display: block;
}


/*PREELOADER*/
#preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
    background-image: -webkit-linear-gradient(to bottom right, #222222, #000000, #222222);
      background-image:    -moz-linear-gradient(to bottom right, #222222, #000000, #222222);
        background-image:     -ms-linear-gradient(to bottom right, #222222, #000000, #222222);
        background-image:      -o-linear-gradient(to bottom right, #222222, #000000, #222222);
      background-image:         linear-gradient(to bottom right, #222222, #000000, #222222);
    z-index: 1000;
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;
  }
  .loader-title{
    display: block;
    overflow: auto;
    padding-left: 34%;
    padding-right: 34%;
  }
  .loader-group{
    float: left;
    overflow: auto;
  }
  #loader-circle {
    border: 10px solid #CFCFCF;
    border-radius: 50%;
    border-top: 10px solid #890108;
    width: 80px;
    position: absolute;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    float: left
  }
  #loader-circle-mini {
    border: 10px solid #CFCFCF;
    border-radius: 50%;
    border-top: 10px solid #890108;
    width: 50px;
    position: absolute;
    height: 50px;
    margin: 15px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin_left 2s linear infinite;
    float: left
  }
  #preloader h1{
    color: #CFCFCF;
    font-family: aharoni;
    font-size: 6em;
    float: left;
    margin: 0px;
    text-shadow: -10px 0px 10px black; 
  }
  #preloader p{
    color: white;
    font-family: caibri;
    font-style: italic;
    font-weight: lighter;
    font-size: 1em;
    text-align: center;
    margin: 0px;
    display: block;
  }
  .load-success{
    height: 0% !important;
    overflow: hidden !important;
    padding: 0% !important;
  }
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @-webkit-keyframes spin_left {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(-360deg); }
  }

  @keyframes spin_left {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
  }


  .loader{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
    background-color: rgba(0,0,0,0.84);
    z-index: 1000;
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;
  }

  .loader > .loader-group{
    display: block !important;
    overflow: auto;
    width: 100%;
  }

  .loader > .loader-group h1{
    text-align: center;
    font-size: 4em;
    color: white;
    font-family: aharoni;
  }


/* LANDING */
.landing1{
  text-align: center;
  background-size: cover;
  background-position: center center;
}
.landing1-message {
  padding: 15% 5% 5% 5%;
}
.landing1-message h1{
  text-align: center;
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 5em;
  margin: 0;
}
.landing1-message h4{
  text-align: center;
  color: white;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.5em;
}
.countdown{
  display: block;
  text-align: center;
  margin-left: 20%;
  margin-top: 5%;
  margin-right: 20%;
  overflow:auto;
}
.count-item{
  display: inline-block;
  width: 20%;
  margin: 1%;
}
.count-item h3{
  color: white;
  font-size: 3em;
  margin: 0;
  padding-top: 24%;
  padding-bottom: 24%;
  background-color: #222222;
  opacity: 0.7;
  border-radius: 10px;
}
.count-satuan{
  color: white;
  position: relative;
  bottom: 20px;
  background-color: #BD0000;
  text-transform: uppercase;
  padding:7% 3% 7% 3%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  opacity: 0.8;
  font-size: 0.7em;
}
.landing1-message a{
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
.ardown{
  color: white;
  padding: 10px !important;
  text-decoration: none;
  z-index: 200;
}





/* INTRO 1 */
.intro1{
  text-align: center;
  background-size: cover;
  background-position: center center;
  padding-top: 10%;
  padding-right: 15%;
  padding-bottom: 10%;
  padding-left: 15%;
}
.intro1-message h1{
  font-size: 3em;
  margin: 0;
}
.intro1-message h4{
  font-weight: 300;
  margin: 0;
  font-size: 1.2em;
}

.intro1-content{
  text-align: justify;
  overflow: hidden;
  padding-top: 
  margin:0;
  padding-top: 7%;
}

.intro1-desc{
  max-width: 50%;
  float: left;
}
.intro1-desc p {
  font-family: calibri;
  font-size: 1.3em;
}


.intro1-desc p:first-child:first-letter{
  float: left;
  font-size: 3em;
  line-height: 0.5;
  font-weight: bold;
  margin-right: 1%;
  margin-top: 2%;
  text-shadow: 1px 1px 2px black;
}
.intro1-img{
  padding: 3% 0% 5% 5%;
  width: 50%;
  text-align: center;
  float: left;
  background : none;

}
.intro1-img img{
  background: none;

}





/* LANDING 2 */
.landing2{
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding-top: 5%;
  padding-bottom: 10%;
}
.landing2-message {
  padding: 17% 5% 15% 5%;
}
.landing2-message h1{
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 4em;
  margin: 0;
}
.landing2-message h4{
  color: white;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.5em;
}
.landing2-message a{
  margin-top: 5%;
}




/* INTRO 2 */
.intro2{
  text-align: center;
  background-size: cover;
  background-position: center center;
  padding-top: 10%;
  padding-right: 15%;
  padding-bottom: 10%;
  padding-left: 15%;
}
.intro2-message h1{
  color: black;
  font-size: 3em;
  margin: 0;
}
.intro2-message h4{
  color: #2E2E2E;
  font-weight: lighter;
  margin: 0;
  font-size: 1.2em;
}

.intro2-content{
  text-align: justify;
  overflow: auto;
  color: #A5A4A4;
  padding-top: 
  margin:0;
  padding-top: 3%;
}

.intro2-desc{
  max-width: 100%;
  display: block;
}
.intro2-desc p {
  font-size: 1.3em;
}


.intro2-desc p:first-child:first-letter{
  float: left;
  color: #891522;
  font-size: 3em;
  line-height: 1;
  font-weight: bold;
  margin-right: 1%;
  margin-top: 2%;
  text-shadow: 1px 1px 2px black;
}
.intro2-img{
  padding: 3% 5% 5% 5%;
  max-width: 100%;
  display: block;
}




/*Owl Carousel*/
.owl-nav{
  margin:0px !important;
}
.owl-stage{
  overflow: hidden;
}
#owl-home .item img{
      display: block;
      min-width: 100%;
      height: auto;
  }
.owl-carousel{
    position: relative;
}
.owl-nav [class*='owl-'] i {
  font-size: 2.5em;
  color: #9F9F9F;
  position: absolute;
  top: 46%;
}
.owl-nav [class*='owl-'] i:hover {
  color: #FFFFFF;
}

.owl-background{
  height: 800px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.owl-dots{
  position: absolute;
  bottom: 10%;
  left:25%;
  right:25%;
}
.owl-next{
  position: absolute;
  right: 0;
  z-index: 2;
  margin: 0px !important;
  width: 10%;
  height: 100%;
  top: 0;
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(0,0,0,0.7)) !important;
}
.owl-prev{
  position: absolute;
  left: 0;
  z-index: 2;
  margin: 0px !important;
  width: 10%;
  height: 100%;
  top: 0;
  background: linear-gradient(to left, rgba(255,0,0,0), rgba(0,0,0,0.7)) !important;
}
.owl-carousel .item img{
  filter: brightness(50%);
}
.owl-caption{
  margin: 0% 10% 0% 10%;
  padding-top: 20%;
  padding-bottom: 20%; 
  height: 100%;
  width: 80%;
  position: absolute;
  top: 0;
  text-align: center;
}
.owl-caption h1{
  color: white;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 4em;
    margin: 5% 0px 0px 0px;
}
.owl-caption h4{
  color: white;
    font-weight: lighter;
  margin: 10px 0px 30px 0px;
    font-size: 1.5em;
}
.caption-button{
  display: block;
  width: 30%;
  margin: auto;
  cursor: pointer !important;
  color: white;
  padding: 0.6% 2% 0.6% 2%;
  text-decoration: none;
  text-transform: uppercase;
}


/* PICTURE GALLERY  */

.picture-gallery{
  text-align: center;
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.picture-gallery-message{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  text-align: center;
}
.picture-gallery-message .mini-title{
  color: white;
}

.picture-gallery-message h1{
  font-size: 3em;
  font-weight: 900;
  color: white;
  margin:0;
}


.picture-gallery-message h4{
  color: white;
  font-family: calibri;
  font-weight: lighter;
  margin: 0;
  font-size: 1.2em;
}
 .picture-gallery-message hr{
  background-color: white !important;
 }
.picture-gallery-content{
  text-align: center;
  overflow: hidden;
  color: #A5A4A4;
  margin:0;

}
.pct-container{
  overflow: hidden;
  display: block;
  margin-bottom: 20px;
}



.pct{
  display: inline-block;
  margin:10px;
  width: 28%;
  height: 280px;
  background-size: cover;
  background-size: cover;
  border-radius: 7px;
  background-position: center center;
  filter: grayscale(100%);
  -webkit-transition: filter .5s ease;
     -moz-transition: filter .5s ease;
      -ms-transition: filter .5s ease;
       -o-transition: filter .5s ease;
          transition: filter .5s ease;
  cursor: zoom-in;
  box-shadow: 7px 7px 7px #222222;
}
.pct:hover{
  filter: grayscale(0%);
}

.gallery-pagination{
  margin: auto;
  overflow: auto;
}


.gallery-pagination a{
  border-radius: 10%;
  color: white;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: auto;
  font-size: 1.2em;
  cursor: pointer;
}


/*PCT MODAL*/
.pct-modal-backdrop{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  z-index: 50;
}
.pct-modal-content{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 20px 20px 20px #222222;
  max-width: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  max-height: 80%;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 300;
  top: 0;
  bottom: 0;
}
.pct-modal-content span{
  position: absolute;
  font-size: 2em;
  color: white;
  text-shadow: 6px 6px 6px solid #222222;
  z-index: 200;
  right: 0;
  cursor: pointer;
}
/*  SPEAKER   */

.speaker{
   background-color: #222222;
  text-align: center;
  position: relative;
  overflow: auto;
  z-index: 1;
}

.speaker-row{
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.speaker .speaker-row:nth-child(odd){
  background-color: #111111;
}
.speaker .speaker-row:nth-child(odd) .speaker-photo{
  float:left;
  z-index: -1;
}

.speaker .speaker-row:nth-child(odd) .speaker-content{
  text-align:left;
  float: right;
  padding-right: 15%;
  padding-left: 5%;
}


.speaker .speaker-row:nth-child(even) .speaker-photo{
  float:right;
}

.speaker .speaker-row:nth-child(even) .speaker-content{
  text-align:right;
  float: right;
  padding-left: 15%;
  padding-right: 5%;
}

.speaker .speaker-row:nth-child(even) .speaker-content hr{
  margin-left: 80%;
}



.speaker-photo{
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


.social-media{
  height: 100%;
  padding-top: 35%;
  padding-bottom: 35%;
     -moz-transition: all .5s linear;
      -ms-transition: all .5s linear;
      -webkit-transition: all .5s linear;
       -o-transition: all .5s linear;
          transition: all .5s linear;
}

.social-media a{
  color: #AAAAAA;
  margin-right: 3%;
  margin-left: 3%;
  position: relative;
  top: 100px;
  opacity: 0;
  -webkit-transition: all .7s;
     -moz-transition: all .7s;
      -ms-transition: all .7s;
       -o-transition: all .7s;
          transition: all .7s;
}

.social-media a:hover{
  text-decoration: none;
  color: white;
  position: relative;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
       -o-transform: rotate(360deg);
          transform: rotate(360deg);
}


@keyframes social{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
    top: 0;
  }
}
.social-media:hover{
  background-color: rgba(137, 1, 8, 0.8);
}
.social-media:hover a:nth-child(1){
  animation-name: social;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.social-media:hover a:nth-child(2){
  animation-name: social;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.social-media:hover a:nth-child(3){
  animation-name: social;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}


.speaker-content{
  text-align: left;
  max-width: 

  50%;
  padding-top: 5%;
  padding-bottom: 5.8%;
}

.speaker-content h1{
  font-size: 2.5em;
  line-height: 90%;
  color: #C5C5C5;
  font-family: Segoe UI semibold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.speaker-content hr{
  height: 5px;
  border:none;
  background-color: #891522;
  margin:0;
  width: 20%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.speaker-content p:not(.mini-title) {
  color: #A5A4A4;
  font-family: calibri;
  font-size: 1.3em;
}


.speaker-content h4 {
  color: #A5A4A4;
  font-weight: lighter;
  margin-top: 3%;
  margin-bottom: 5%;
  font-family: calibri;
}




/* ABOUT */

.about{
  text-align: center;
  padding-top: 5%;
  padding-right: 15%;
  padding-bottom: 5%;
  padding-left: 15%;
  overflow: hidden;
}

.about-message{
  padding-right: 5%;
  text-align: left;
  overflow: auto;
  float: left;
  max-width: 49%;
}

.about-message h1{
  font-size: 3em;
  font-weight: 900;
  margin: 0;
  line-height: 90%;
}

.about-message hr{
  width: 20%;
  margin-right: 80%;
}

.about-message p {
  font-family: calibri;
  font-size: 1em;
  text-align: justify;
}

.about-content{
  max-width: 50%;
  float: right;
  text-align: center;
}

.about-content img{
  box-shadow: 10px 10px 10px #222222;
}

.feature{
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  min-height: 1px;
  overflow: hidden;
  padding-top: 7%;
  padding-right: 10%;
  padding-bottom: 3%;
  padding-left: 10%;
}

.feature-item{
  width: 33%;
  float: left;
  overflow: auto;
}
.feature-icon{
  min-height: 100%;
  float: left;
  margin-right: 4%;
  margin-top: 4%;
  max-width: 20%;
}

.feature-content{
  max-width: 76%;
  float: left;
  text-align: left;
}

.feature-content h4{
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 5px;
}

.feature-content p {
  font-family: calibri;
  margin: 0px;
}

/* SCHDULE  */
.schedule{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.schedule-message{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.schedule-message h1{
  font-size: 3em;
  font-weight: 900;
  line-height: 90%;
  margin:0;
}

.schedule-message hr{
  height: 5px;
  border:none;
  margin:0;
  width: 10%;
  margin-right: 45%;
  margin-left: 45%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.schedule-message h4{
  font-weight:325;
  text-overflow: 
  font-size: 1.2em;
  margin:0;
  font-family: calibri;
}

.schedule-content{
  text-align: left;
  overflow: auto;
  margin:0;
}

.schedule-navigation{
  text-align: center
}

.schedule-navigation a {
  display: inline-block;
  padding-top: 1%;
  padding-right: 2%;
  padding-bottom: 1%;
  padding-left: 2%;
  margin-top: 4%;
  margin-bottom: 3%;
  font-size: 1.1em;
  border-bottom: 2px solid transparent;
}

.schedule-navigation a:hover{
  text-decoration: none;
  border-bottom: 2px solid #891522;}
.schedule-table{
  min-width: 60%;
  margin: auto;
}
.schedule-table tr th{
  text-align: center;
}
.schedule-table tbody tr td{
  vertical-align: top;
  padding: 1.5%;
}
.schedule-table thead tr th{
  vertical-align: top;
  padding: 2%;
}


.schedule-table tr td:first-child{
  vertical-align: top;
  width: 15%;
  text-align: center;
}
.schedule-table tr td:nth-child(2){
  vertical-align: top;
  width: 55%;
}
.schedule-table tr td:last-child{
  vertical-align: top;
  width: 30%;
}

/* LOGO */
.logo{
  width: 100%;
  padding: 1% 10% 1% 10%;
  display: block;
  text-align: center;
  overflow: hidden;
  background-color: #161616;
}
.logo img{
  background-color: transparent;
  max-width: 20%;
  filter: grayscale(100%);
  max-height: 100px;
  margin: 10px;
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}
.logo img:hover{
  filter: grayscale(0%);
}
/* FOOTER */

.footer{
  text-align: center;
  overflow: hidden;
}
.footer a{
  display: inline-block;
  text-decoration: none;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
}

/* LAin Lain */

.form-pendaftaran{
  width: 100%;
  overflow: auto;
  padding: 10%;
  background-color: #191919;
}
.form-message{
  text-align: center;
}
.form-message .mini-title{
  color: white;
}
.form-message h1{
  font-size: 3em;
  font-weight: 900;
  margin:0;
}

.form-message h4{
  font-family: calibri;
  font-weight: lighter;
  margin: 0;
  font-size: 1.2em;
}
.form-content{
  width: 100%;
  overflow: auto;
  margin-top: 9%;
}
.form-photo{
  width: 47%;
  text-align: center;
  margin-right: 3%;
  float: left;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.form-photo img{
  font-size: 3em;
  color: white;
  max-height: 320px;
}
.form{
  width: 50%;
  float: left;
  overflow: auto;
}
.input-group-half{
  display: inline-block;
  width: 49%;
  padding: 1%;
}
.input-group-half label{
  color: white;
  display: block;
  width: 100%;
  font-size: 1em;
}
.form-input-half{
  display: block;
  width: 100%;
  padding: 2% 6% 2% 6%;
  border-radius: 5px;
  border: 2px solid transparent;
}
.form-input-textarea{
  width: 100%;
  padding: 1% 3% 1% 3%;
  border-radius: 5px;
  border: 2px solid transparent;
}
.input-group{
  display: block;
  width: 99%;
  padding: 1%;
  text-align: left;
}

.input-group label{
  color: white;
  width: 100%;
  display: block;
  font-style: 1em;
}
.form-input{
  width: 100%;
  padding: 1% 3% 1% 3%;
  border-radius: 5px;
  border: 2px solid transparent;
}
#photo{
  background-color: white;
  color: black;
}
.button-group{
  text-align: left;
  margin-top: 5%;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.btn-submit{
  background-color: #208A04;
  border:none;
  color: white;
  font-size: 1em;
  margin: 1%;
  border-radius: 10px;
  padding: 2% 2% 2% 2%;
  width: 47%;
  cursor: pointer;
}
.btn-submit:hover{
  background-color: #197A00;
}
.btn-reset{
  background-color: #990201;
  border:none;
  color: white;
  font-size: 1em;
  border-radius: 10px;
  padding: 2% 2% 2% 2%;
  margin: 1%;
  width: 47%;
  cursor: pointer;
}
.btn-reset:hover{
  background-color: #830100;
}
input:focus, textarea:focus , select:focus{
  box-shadow: 0px 0px 10px #BD0000;
  border: 2px solid #BD0000;
}


/* MODAL */
.modal-background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none;
    z-index: 100;
    padding: 5% 20% 10% 20%;
  }
  .modal{
    background-color: white;
    margin: auto;
    z-index: 150;
    position: fixed;
    width: 60%;
    border-radius: 5px;
  }
  .modal-header{
    padding: 1.5%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
  }
  .modal-title, .modal-subtitle{
    margin: 0px;
    display: inline-block;
    font-size: 1.3em;
    color: white;
  }
  .modal-header >  p:not(:first-child):before{
    padding: 8px;
    color: white;
   content: "/\00a0";
  }
  .modal-close{
    font-size: 1.8em;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    margin-right: 20px;
    margin-top: 5px;
  }
  .modal-close:hover{
    color: white;
  }
  .modal-body{
    padding: 2%;
    max-height: 500px;
    overflow: auto;
  }

/*  ISI MODAL  */
.modal-intro1{
  text-align: center;
  background-size: cover;
  background-position: center center;
  padding-top: 5%;
  padding-right: 10%;
  padding-bottom: 3%;
  padding-left: 10%;
}
.modal-intro1-message{
  text-align: center;
}
.modal-intro1-message .mini-title{
  margin : 0px;
  font-size: 0.6em;
  color: black !important;
}
.modal-intro1-message h1{
  color: black;
  font-size: 2em;
  margin: 0;
}
.modal-intro1-message h4{
  color: black;
  font-weight: 300;
  margin: 0;
  font-size: 1em;
}
.modal-intro1-message hr{
  margin-top: 4px;
  margin-bottom: 8px;
  height: 4px;
}
.modal-intro1-content{
  text-align: justify;
  overflow: auto;
  color: #A5A4A4;
  margin:0;
}

.modal-intro1-desc{
  display: block;
  color: black;
}
.modal-intro1-desc p {
  font-family: calibri;
  font-size: 1em;
}


.modal-intro1-desc p:first-child:first-letter{
  float: left;
  font-size: 3em;
  line-height: 1;
  font-weight: bold;
  margin-right: 1%;
  margin-top: 2%;
  text-shadow: 1px 1px 2px black;
}
.modal-intro1-img{
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 80%;
  text-align: center;
  display: block;

}





















/* The Responsive */

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* universal */
  .mini-title{
    font-size: 0.6em !important;
  }
  .button{
    width: 50% !important;
    margin-top: 50px !important;
  }
/*PRELOADER*/
  #preloader{
    padding-top: 70%;
    padding-bottom: 40%;
  }
  .loader-title{
    padding-left: 25%;
    padding-right: 25%;
  }
  #loader-circle {
    border: 4px solid #CFCFCF;
    border-top: 4px solid #890108;
    width: 35px;
    height: 35px;
  }
  #loader-circle-mini {
    border: 4px solid #CFCFCF;
    border-top: 4px solid #890108;
    width: 21px;
    height: 21px;
    margin: 7px;
  }
  #preloader h1{
    color: #CFCFCF;
        font-family: aharoni;
    font-size: 2.5em;
    float: left;
    margin: 0px;
    text-shadow: -10px 0px 10px black; 
  }
  #preloader p{
    font-size: 0.7em;
  }
 
  /*LOADER*/
  .loader{
    padding-top: 50%;
    padding-bottom: 50%;
  }
  .loader > .loader-group h1{
    font-size: 3em;
  }
  .landing1-message h1 , .landing2-message h1 {
    font-size: 2em;
    margin-bottom: 3%;
    font-weight: 400;
  }
  .landing1-message h4, .landing2-message h4 {
    font-size: 0.8em;
  }

  .intro1-message h1, .speaker-content h1 , .intro2-message h1, .owl-caption h1 , .schedule-message h1, .about-message h1,  .picture-gallery-message h1 , .form-message h1{
    font-size: 1.7em;
  }
  .intro1-message h4, .speaker-content h4 , .intro2-message h4, .schedule-message h4, .about-message h4, .picture-gallery-message h4, .speaker-message h4, .form-message h4{
    font-size: 0.8em;
  }
  .intro1-message hr, .intro2-message hr, .schedule-message hr, .picture-gallery-message hr, .speaker-message hr, .form-message hr{
    height: 7px;
    margin-bottom: 5px !important;
    margin-top: 3px !important; 
  }
  /* SCHEDULE TABLE */
  .schedule{
    padding-left: 3%;
    padding-right: 03%;
  }
  .schedule-navigation a {
    font-size: 0.9em;
  }
  .speaker-content p{
    font-size: 1em;
    text-align: justify;
  }
  .schedule-table {
    width: 90%;
  }
  .schedule-table tr td{
    font-size: 0.8em;
  }

  /*LANDING 1 */
  .landing1{
    padding-top: 30%;
    padding-bottom: 30%;
  }
  .landing1-message h1 {
    font-size: 3em;
    margin:0;
    font-weight: 400;
  }
  .countdown{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .count-item h3{
    font-size: 0.8em;
  }

  .count-item{
    width: 20%;
    margin: 1%;
  }
  .count-satuan{
    bottom: 10px;
    font-size: 5pt !important;
  }

  .landing2{
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .landing2-message{
    padding-top: 45%;
    padding-bottom: 45%;
  }

  /* INTRO */
  .intro1,.intro2, .picture-gallery-content{
    padding-left: 5%;
    padding-right: 5%;
  }

  .intro1-desc{
    max-width: 100%;
    display: block;
  }
  .intro1-desc p {
    font-family: calibri;
    font-size: 1em;
  }

 .intro1-img{
    width: 100%;
    display: block;
    padding: 0;
  }

 /*OWL Carousel*/
 /*Carousel*/
  .owl-caption {
      font-size: 0.7em;
    margin: 10px 10% 10px 10%;
    padding: 50% 0% 50% 0%;
  }
  .owl-background{
    height: 480px;
  }
  .owl-caption h1{
      font-size: 1.9em;
  }
  .owl-caption h4{
      font-size: 0.9em;
    margin: 10px 0px 10px 0px;
  }
  .owl-nav [class*='owl-'] i {
    font-size: 1em;
  }
  .caption-button{
    font-size: 0.8em;
    width: 60%;
  }
  /*PCT MODAL*/
  .pct-modal-content{
    max-width: 90%;
    max-height: 60%;
  }
/* PICTURE GALLERY  */

  .picture-gallery{
    padding-left: 7%;
    padding-right: 7%;
  }

  .picture-gallery-content{
    padding: 0;
  }
  .pct{
    width: 100%;
    display: block;
    margin: 0px;
    margin-bottom: 20px;
  }


  /* FORM */
  .form-photo{
    width: 100%;
    margin-right: 0%;
    float: none;
    display: block;
  }
  .form{
    width: 100%;
    float: none;
    display: block;
    overflow: auto;
  }

  input:focus, textarea:focus , select:focus{
    box-shadow: 0px 0px 3px #BD0000;
    border: 1px solid #BD0000;
  }

  .form-input-half, .form-input{
    border: 1px solid transparent;
  }

  .btn-submit, .btn-reset{
    border-radius: 5px;
  }




  /* ABOUT */
  .about{
    padding-right: 5%;
    padding-left: 5%;
  }

  .about-message{
    max-width: 100%;
    display: block;
    padding: 0px;
    text-align: center;
  }
  .about-message hr{
    margin-left: 45%;
    margin-right: 45%;
    width: 10%;
  }

  .about-content{
    max-width: 100%;
    float: none;
    display: block;
    text-align: center;
  }

  .feature{
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .feature-item{
    width: 100%;
    float: none;
    overflow: auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .feature-icon span {
    font-size: 2em !important;
  }

  .feature-content h4{
    font-size: 1em;
    margin-bottom: 0px;
    margin-top: 5px !important;
  }
  .feature-content p{
    margin: 0;
    font-size: 0.9em;
  }


  /* LOGO */
  .logo{
    padding: 1% 3% 1% 3%;
  }

  .logo img{
    background-color: transparent;
    max-width: 50%;
    max-height: 100px;
  }

  /*FOOTER */
  .footer a{
    font-size: 0.7em;
  }


/* MODAL */

  .modal-background{
    padding: 20% 5% 20% 5%;
  }
  .modal-header > p:not(:first-child){
    display: none;
  }
  .modal-title{
    font-size: 0.9em !important;
  }
  .modal-close{
    margin-right: 8px;
    margin-top: 0px;
    font-size: 1.6em;
  }
  .modal{
    width: 90%;
  }
  .modal-body{
    max-height: 375px;
  }

  /* ISI MODAL */

  .modal-intro1-message .mini-title{
    margin : 0px;
    font-size: 0.5em !important;
  }
  .modal-intro1-message h1{
    color: black;
    font-size: 1.5em;
    margin: 0;
  }
  .modal-intro1-message h4{
    font-size: 0.9em;
  }
  .modal-intro1-img{
    padding-top: 20px;
    padding-bottom: 10px;
    max-width: 95%;
  }


      /*  SPEAKER  */
  .speaker-content{
    max-width: 100%;
    padding: 15px !important;
  }

  .speaker-content h1, .speaker-content h4, .speaker-content > p.mini-title{
    text-align: center !important;
  }

  .speaker-content hr{
    margin:auto !important;
    width: 25% !important;
  }

  .speaker-photo {
    display: block;
    width: 100%;
  }.speaker .speaker-row:nth-child(even) .speaker-content{
      text-align:left;
      padding-left: 5%;
      padding-right: 5%;
  }
  .speaker .speaker-row:nth-child(even){
    margin-left: 0;
    margin-right: 80%;
  }



}


@media only screen 
and (min-device-width : 480px) 
and (max-device-width : 768px) {
    /* universal */
  .mini-title{
    font-size: 0.6em !important;
  }
  .button{
    width: 50% !important;
    margin-top: 50px !important;
  }

  .intro1-message h1, .intro2-message h1,  .about-message h1, .picture-gallery-message h1 , .speaker-message h1, .form-message h1{
    font-size: 2.5em !important;
  }
  .intro1-message h4, .intro2-message h4, .schedule-message h4, .about-message h4, .picture-gallery-message h4, .speaker-message h4, .form-message h4{
    font-size: 1em;
  }
  hr{
    margin-bottom: 5px !important;
    margin-top: 3px !important;
  }



  /*PRELOADER*/

  #preloader{
      padding-top: 40%;
    padding-bottom: 40%;
  }
  .loader-title{
    padding-left: 30%;
    padding-right: 30%;
  }
  #loader-circle {
    border: 7px solid #CFCFCF;
    border-top: 7px solid #890108;
    width: 55px;
    height: 55px;
  }
  #loader-circle-mini {
    border: 7px solid #CFCFCF;
    border-top: 7px solid #890108;
    width: 31px;
    height: 31px;
    margin: 12px;
  }
  #preloader h1{
    color: #CFCFCF;
    font-family: aharoni;
    font-size: 4em;
    float: left;
    margin: 0px;
    text-shadow: -10px 0px 10px black; 
  }

  /* Landing */

  .landing1{
    padding-top: 15%;
    padding-bottom: 20%;
  }
  .landing1-message h1{
    font-size: 3.4em;
    font-weight: 400;
  }
  .landing1-message h4{
    font-size: 1em;
  }
  .landing2-message h1 {
    font-size: 2em;
    margin:0 !important;
    font-weight: 400;
  }
  .landing2-message h4 {
    font-size: 1em !important;
  }

  .countdown{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .count-item h3{
    font-size: 1.5em;
  }

  .count-item{
    width: 20%;
    margin: 1%;
  }
  .count-satuan{
    bottom: 10px;
    font-size: 7pt !important;
  }

  .landing2{
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .landing2-message{
    padding-top: 35%;
    padding-bottom: 35%;
  }
  .landing2-message h1{
    font-weight: 400;
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .landing2-message h4{
    font-size: 1.3em;
  }


  /* INTRO */
  .intro1,.intro2{
    padding-left: 7%;
    padding-right: 7%;
  }

  .intro1-desc{
    max-width: 100%;
    display: block;
  }
  .intro1-desc p {
    font-family: calibri;
    font-size: 1em;
  }

  .intro1-img{
    width: 100%;
    display: block;
    padding: 0;
  }
  .intro-img img{
    text-align: center;
  }

    /* SLIDE-SHOW  */

  .slide-arrow-left, .slide-arrow-right{
    font-size: 3em;
  }
  .slide-indicator{
    position: absolute;
    overflow: auto;
    bottom: 5%;
    text-align: center;
    width: 100%;
  }
  .color-white{
    background-color: white;
  }
  .circle{
    display: inline-block;
    border:2px solid white;
    padding: 3px;
    border-radius: 50%;
  }
  .slide-show{
    display: none;
  }


  /* FORM */
  .form-pendaftaran{
    padding: 10% 5% 10% 5% !important;
  }
/* PICTURE GALLERY  */

  .picture-gallery{
    padding-left: 7%;
    padding-right: 7%;
  }

  .picture-gallery-content{
    padding: 0;
  }
  .pct{
    max-width: 28%;
  }
  /*  SPEAKER  */

  .speaker{
    padding: 0% !important;
  }
  .speaker-content{
    max-width: 100%;
  }
  .speaker-content:nth-child(odd){
    text-align: left;
  }
  .speaker-content h1{
    font-size: 2.5em;
    margin: 0;
  }
  .speaker-content h3{
    font-size: 1em;
  }
  .speaker-photo {
    display: block;
    width: 100%;
  }.speaker .speaker-row:nth-child(even) .speaker-content{
      text-align:left;
      padding-left: 5%;
      padding-right: 5%;
  }
  .speaker .speaker-row:nth-child(even) .speaker-content hr{
    margin-left: 0;
    margin-right: 80%;
  }
  .speaker .mini-title{
    display: none;
  }
  .speaker h1{
    font-size: 2.5em;
    margin:0;
  }
  .button{
    margin:20px 0px 20px 0px; 
    padding: 10px 15px 10px 15px;
    font-size: 1em !important;
  }
  .social-media{
    padding: 10% 0% 30% 0%;
  }
  .speaker .speaker-row:nth-child(odd) .speaker-content{
      padding-right: 5%;
  }
  .speaker .speaker-row:nth-child(even) .speaker-content{
      padding-left: 5%;
  }

  .feature{
    padding-right: 5%;
    padding-left: 5%;
  }
  .feature-icon span{
    font-size: 2em !important;
    margin-top: 10% !important;
  }
  .feature-icon{
    margin-top: 10% !important;
  }

    /* ABOUT */
  .about{
    padding-right: 5%;
    padding-left: 5%;
  }

  .about-message{
    max-width: 100%;
    display: block;
  }
  .about-content{
    max-width: 100%;
    float: none;
    display: block;
    text-align: center;
  }
    /* LOGO */
  .logo{
    padding: 1% 3% 1% 3%;
  }

  .logo img{
    background-color: transparent;
    max-width: 32%;
    max-height: 100px;
  }
}    




@media only screen 
and (max-width : 1224px)
and (min-width: 768px) {
      /* universal */
  .mini-title{
    font-size: 0.8em !important;
  }
  .button{
    width: 20% !important;
    margin-top: 50px !important;
  }

  .intro1-message h1, .speaker-content h1, .intro2-message h1, .picture-gallery-message h1 , .speaker-message h1, .slide-show-message h1{
    font-size: 2.5em;
  }
  .intro1-message h4, .intro2-message h4, .picture-gallery-message h4, .speaker-message h4, .slide-show-message h4{
    font-size: 1em;
  }
  hr{
    margin-bottom: 5px !important;
    margin-top: 3px !important;
  }


/*Owl Carousel*/
 .owl-caption {
    padding: 25% 0% 50% 0%;
  }
  .owl-caption h1{
      font-size: 3em;
  }
  .owl-caption h4{
      font-size: 1.2em;
    margin: 0px 0px 30px 0px;
  }
  .owl-nav [class*='owl-'] i {
    font-size: 2em;
  }

  /* Landing */
  .landing1-message{
    padding-top: 15%;
  }
  .landing1-message h1{
    font-size: 4.5em;
    font-weight: 400;
  }
  .landing1-message h4{
    font-size: 1em;
  }
  .landing2-message h1 {
    font-size: 2.5em;
    margin:0 !important;
    font-weight: 400;
  }
  .landing2-message h4 {
    font-size: 1em !important;
  }

  .count-item h3{
    font-size: 2em;
    font-weight: lighter;
  }

  .count-item{
    width: 20%;
  }
  .count-satuan{
    bottom: 10px;
    font-size: 11pt !important;
  }


  .landing2-message{
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .landing2-message h1{
    font-weight: 400;
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .landing2-message h4{
    font-size: 1.3em;
  }

  /*LOADER*/
  #preloader{
      padding-top: 35%;
    padding-bottom: 40%;
  }
  .loader-title{
    padding-left: 30%;
    padding-right: 30%;
  }

  /* INTRO */
  .intro1,.intro2{
    padding-left: 10%;
    padding-right: 10%;
  }

  .intro1-desc p , .speaker-content p{
    font-family: calibri;
    font-size: 1em;
  }

  .intro-img img{
    text-align: center;
  }




/* PICTURE GALLERY  */

  .picture-gallery{
    padding-left: 7%;
    padding-right: 7%;
  }

  .picture-gallery-content{
    padding: 0;
  }

    /* ABOUT */
  .about{
    padding-right: 5%;
    padding-left: 5%;
  }  
  .feature{
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .feature-icon span {
    font-size: 2em !important;
  }

  .feature-content h4{
    font-size: 1.1em;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .feature-content p{
    margin: 0;
  }

}