html , body{
  padding: 0;
  margin:0;
  overflow-x: hidden;
  background-color: #D4D4D4;
}
a{
  text-decoration: none;
}
*{
  box-sizing: border-box;
  font-family: calibri;
}
.container{
  display: block;
  max-width: 100%;
}

.row{
  display: block;
  width: 100%;
}
.img-responsive{
  max-width: 100%;
  height: auto;
}

.thumbnail{
  padding: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px #757575;
  border-radius: 3px;
}
.mini-title{
    font-size: 0.8em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D0D0D0;
    font-family: calibri;
    font-weight: 900;
    color: #2A2A2A;
    text-transform: uppercase;
}
hr{
  border:none;
  height: 7px;
  background-color: #039300;
  width: 10%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}
.button{
  display: block;
  width: 20%;
  margin: auto;
  background-color: #039300;
  color: white;
  padding: 0.6% 2% 0.6% 2%;
  text-decoration: none;
  text-transform: uppercase;
}
.hidden{
  opacity: 0;
}
.visible{
  opacity: 1;
}
.disnone{
  display: none;
}
.disblock{
  display: block;
}

/* LANDING */
.landing1{
  text-align: center;
  background-size: cover;
  background-position: center center;
}
.landing1-message {
  padding: 15% 5% 5% 5%;
}
.landing1-message h1{
  text-align: center;
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 5em;
  margin: 0;
}
.landing1-message h4{
  text-align: center;
  color: white;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.5em;
}
.countdown{
  display: block;
  text-align: center;
  margin-left: 20%;
  margin-top: 5%;
  margin-right: 20%;
  overflow:auto;
}
.count-item{
  display: inline-block;
  width: 20%;
  margin: 1%;
}
.count-item h3{
  color: white;
  font-size: 3em;
  margin: 0;
  padding-top: 24%;
  padding-bottom: 24%;
  background-color: #222222;
  opacity: 0.7;
  border-radius: 10px;
}
.count-satuan{
  color: white;
  position: relative;
  bottom: 20px;
  background-color: #BD0000;
  text-transform: uppercase;
  padding:7% 3% 7% 3%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  opacity: 0.8;
  font-size: 0.7em;
}
.landing1-message a{
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
#ardown{
  color: white;
  background-color: #039300;
  padding: 10px;
  text-decoration: none;
}





/* INTRO 1 */
.intro1{
  text-align: center;
  background-size: cover;
  background-position: center center;
  padding-top: 10%;
  padding-right: 15%;
  padding-bottom: 10%;
  padding-left: 15%;
}
.intro1-message h1{
  color: black;
  font-size: 3em;
  margin: 0;
}
.intro1-message h4{
  color: black;
  font-weight: 300;
  margin: 0;
  font-size: 1.2em;
}

.intro1-content{
  text-align: justify;
  overflow: auto;
  color: #A5A4A4;
  padding-top: 
  margin:0;
  padding-top: 7%;
}

.intro1-desc{
  max-width: 50%;
  float: left;
  color: black;
}
.intro1-desc p {
  font-family: calibri;
  font-size: 1.3em;
}


.intro1-desc p:first-child:first-letter{
  float: left;
  color: #039300;
  font-size: 3em;
  line-height: 1;
  font-weight: bold;
  margin-right: 1%;
  margin-top: 2%;
  text-shadow: 1px 1px 2px black;
}
.intro1-img{
  padding: 3% 0% 5% 5%;
  width: 50%;
  text-align: center;
  float: left;

}




/* LANDING 2 */
.landing2{
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding-top: 5%;
  padding-bottom: 10%;
}
.landing2-message {
  padding: 17% 5% 15% 5%;
}
.landing2-message h1{
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 4em;
  margin: 0;
}
.landing2-message h4{
  color: white;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.5em;
}
.landing2-message a{
  margin-top: 5%;
}




/* INTRO 2 */
.intro2{
  text-align: center;
  background-size: cover;
  background-position: center center;
  padding-top: 10%;
  padding-right: 15%;
  padding-bottom: 10%;
  padding-left: 15%;
}
.intro2-message h1{
  color: black;
  font-size: 3em;
  margin: 0;
}
.intro2-message h4{
  color: #2E2E2E;
  font-weight: lighter;
  margin: 0;
  font-size: 1.2em;
}

.intro2-content{
  text-align: justify;
  overflow: auto;
  color: #A5A4A4;
  padding-top: 
  margin:0;
  padding-top: 3%;
}

.intro2-desc{
  max-width: 100%;
  display: block;
}
.intro2-desc p {
  font-size: 1.3em;
}


.intro2-desc p:first-child:first-letter{
  float: left;
  color: #039300;
  font-size: 3em;
  line-height: 1;
  font-weight: bold;
  margin-right: 1%;
  margin-top: 2%;
  text-shadow: 1px 1px 2px black;
}
.intro2-img{
  padding: 3% 5% 5% 5%;
  max-width: 100%;
  display: block;
}





/* SLIDE-SHOW  */

.slide-show{
  max-width: 100%;
  position: relative;
}
.slide-show-capt{
  overflow: auto;
}
.slide-arrow-left{
  left: 0;
}
.slide-arrow-right{
  right: 0;
}
.slide-arrow-left, .slide-arrow-right{
  position: absolute;
  bottom: 47%;
  text-align: center;
  width: 10%;
  margin: auto;
  display: block;
  color: #7A7A7A;
}
.slide-arrow-left:hover, .slide-arrow-right:hover{
  color: white;
}
.slide-img{
  width: 100%;
  filter: brightness(70%) contrast(80%);
}
.dots{
  margin-top: 10%;
}
.color-white{
  background-color: white;
}
.circle{
  display: inline-block;
  border:2px solid white;
  padding: 7px;
  border-radius: 50%;
}
.slide-show span:hover{
  color: white;
}
.slide-show-message{
  position: absolute;
  top: 0;
  width: 80%;
  height: 100%;
  padding-top: 25%;
  padding-bottom: 5%;
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;
}
.slide-show-message h1{
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 4em;
  margin: 0;
}
.slide-show-message h4{
  color: white;
  font-weight: lighter;
  margin: 0;
  font-size: 1.5em;
}
.slide-show-message a.button{
  margin-top: 5%;
}


/* PICTURE GALLERY  */

.picture-gallery{
  background-color: #039300;
  text-align: center;
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.picture-gallery-message{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  text-align: center;
}
.picture-gallery-message .mini-title{
  color: white;
}

.picture-gallery-message h1{
  font-size: 3em;
  font-weight: 900;
  color: white;
  margin:0;
}


.picture-gallery-message h4{
  color: white;
  font-family: calibri;
  font-weight: lighter;
  margin: 0;
  font-size: 1.2em;
}
 .picture-gallery-message hr{
  background-color: white;
 }
.picture-gallery-content{
  text-align: center;
  overflow: hidden;
  color: #A5A4A4;
  margin:0;

}
.pct-container{
  overflow: auto;
  display: block;
}



.pct{
  display: inline-block;
  margin:10px;
  max-width: 28%;
  filter: grayscale(100%);
  -webkit-transition: filter .5s ease;
     -moz-transition: filter .5s ease;
      -ms-transition: filter .5s ease;
       -o-transition: filter .5s ease;
          transition: filter .5s ease;
}
.pct:hover{
  filter: grayscale(0%);
}



/* SPEAKER */
.speaker{
  text-align: center;
  background-size: cover;
  background-position: center center;
  padding-top: 10%;
  padding-right: 15%;
  padding-bottom: 10%;
  padding-left: 15%;
}
.speaker-message h1{
  color: black;
  font-size: 3em;
  margin: 0;
}
.speaker-message h4{
  color: black;
  font-weight: 300;
  margin: 0;
  font-size: 1.2em;
}

.speaker-content{
  text-align: justify;
  overflow: hidden;
  color: #000000;
  padding-top: 
  margin:0;
  padding-top: 7%;
}
.speaker-desc h1{
  margin: 0;
  color: black !important;
}
.speaker-content:nth-child(odd) .speaker-desc{
  float: left;
  text-align: right;
}
.speaker-content:nth-child(odd) .speaker-img{
  float: right;
  padding-left: 3%;
}
.speaker-content:nth-child(even) .speaker-desc{
  float: right;
  text-align: left;
}
.speaker-content:nth-child(even) .speaker-img{
  float: left;
  padding-right: 3%;
}

.speaker-content:nth-child(odd) .speaker-desc hr{
  margin-left: 90%;
}
.speaker-content:nth-child(even) .speaker-desc hr{
  margin-right: 90%;
}

.speaker-desc{
  max-width: 50%;
  padding-top: 3%;
}
.speaker-desc h1 {
  font-family: calibri;
  font-size: 2em;
  color: white;
}


.speaker-desc p{
  font-size: 1.3em;
}
.speaker-img{
  padding-top: 3%;
  max-width: 50%;
  text-align: center;
}
.speaker-img img{
  filter: grayscale(100%);
  -webkit-transition: filter 2s ease;
     -moz-transition: filter 2s ease;
      -ms-transition: filter 2s ease;
       -o-transition: filter 2s ease;
          transition: filter 2s ease;
}
.speaker-img img:hover{
  filter: grayscale(0%);
}





/* ABOUT */

.about{
  background-color: #E9E9E9;
  text-align: center;
  padding-top: 5%;
  padding-right: 15%;
  padding-bottom: 5%;
  padding-left: 15%;
  overflow: auto;
}

.about-message{
  padding-right: 5%;
  text-align: left;
  overflow: auto;
  float: left;
  max-width: 49%;
}

.about-message h1{
  font-size: 3em;
  font-weight: 900;
  margin: 0;
  line-height: 90%;
  color: black;
}

.about-message hr{
  width: 20%;
  margin-right: 80%;
}

.about-message p {
  font-family: calibri;
  font-size: 1em;
  text-align: justify;
  color: #111111;
}

.about-content{
  max-width: 50%;
  float: right;
  text-align: center;
}

.feature{
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  min-height: 1px;
  overflow: auto;
  background-color: #E9E9E9;
  padding-top: 7%;
  padding-right: 10%;
  padding-bottom: 3%;
  padding-left: 10%;
}

.feature-item{
  max-width: 33%;
  float: left;
  overflow: auto;
}
.feature-icon{
  color: black;
  min-height: 100%;
  float: left;
  margin-right: 4%;
  margin-top: 4%;
  max-width: 20%;
}

.feature-icon span {
  color: #039300;
}


.feature-content{
  max-width: 76%;
  float: left;
  text-align: left;
}

.feature-content h4{
  text-transform: uppercase;
  font-weight: bolder;
  color: black;
}

.feature-content p {
  color: black;
  font-family: calibri;
}

/* SCHDULE  */
.schedule{
  background-color: #E9E9E9;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.schedule-message{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.schedule-message h1{
  font-size: 3em;
  font-weight: 900;
  line-height: 90%;
  color: black;
  margin:0;
}

.schedule-message hr{
  height: 5px;
  border:none;
  background-color: #891522;
  margin:0;
  width: 10%;
  margin-right: 45%;
  margin-left: 45%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.schedule-message h4{
  font-weight:325;
  color: black;
  text-overflow: 
  font-size: 1.2em;
  margin:0;
}

.schedule-content{
  text-align: left;
  overflow: auto;
  color: #A5A4A4;
  margin:0;
}

.schedule-navigation{
  text-align: center
}

.schedule-navigation a {
  display: inline-block;
  padding-top: 1%;
  padding-right: 2%;
  padding-bottom: 1%;
  padding-left: 2%;
  color: #373737;
  margin-top: 4%;
  margin-bottom: 3%;
  font-size: 1.1em;
  border-bottom: 2px solid transparent;
}

.schedule-navigation a:hover{
  color: black;
  text-decoration: none;
  border-bottom: 2px solid #891522;
  background-color: #D9D9D9;
}
.schedule-table{
  min-width: 60%;
  margin: auto;
  color: black;
}
.schedule-table tr{
  background-image: -webkit-linear-gradient(top, #D9D9D9, #E9E9E9);
  background-image:    -moz-linear-gradient(top, #D9D9D9, #E9E9E9);
  background-image:     -ms-linear-gradient(top, #D9D9D9, #E9E9E9);
  background-image:      -o-linear-gradient(top, #D9D9D9, #E9E9E9);
  background-image:         linear-gradient(top, #D9D9D9, #E9E9E9);
  -webkit-transition: all .4s ease;
     -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
       -o-transition: all .4s ease;
          transition: all .4s ease;
}
.schedule-table tr:hover{
  background-image: -webkit-linear-gradient(top, #E9E9E9, #FFFFFF);
  background-image:    -moz-linear-gradient(top, #E9E9E9, #FFFFFF);
  background-image:     -ms-linear-gradient(top, #E9E9E9, #FFFFFF);
  background-image:      -o-linear-gradient(top, #E9E9E9, #FFFFFF);
  background-image:         linear-gradient(top, #E9E9E9, #FFFFFF);
}
.schedule-table tr th{
  text-align: center;
}
.schedule-table tr td{
  vertical-align: top;
  padding: 3%;
}


.schedule-table tr td:first-child{
  vertical-align: top;
  width: 15%;
  text-align: center;
}
.schedule-table tr td:nth-child(2){
  vertical-align: top;
  width: 55%;
}
.schedule-table tr td:last-child{
  vertical-align: top;
  width: 30%;
}

/* LOGO */
.logo{
  width: 100%;
  padding: 1% 10% 1% 10%;
  display: block;
  text-align: center;
  background-color: #161616;
}
.logo img{
  background-color: transparent;
  max-width: 10%;
  max-height: 100px;
}
/* FOOTER */

.footer{
  text-align: center;
  background-color: #222222;
}
.footer a{
  display: inline-block;
  text-decoration: none;
  color: #8D8D8D;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  -webkit-transition: color 1s ;
     -moz-transition: color 1s ;
      -ms-transition: color 1s ;
       -o-transition: color 1s ;
          transition: color 1s ;
}

.footer a:hover{
  color: white;
}


/* LAin Lain */

.form-pendaftaran{
  width: 100%;
  overflow: auto;
  padding: 10%;
  background-color: #191919;
}
.form-visible{
}
.form-message{
  text-align: center;
}
.form-message .mini-title{
  color: white;
}
.form-message h1{
  font-size: 3em;
  font-weight: 900;
  color: white;
  margin:0;
}

.form-message h4{
  color: white;
  font-family: calibri;
  font-weight: lighter;
  margin: 0;
  font-size: 1.2em;
}
.form-content{
  width: 100%;
  overflow: auto;
  margin-top: 9%;
}
.form-photo{
  width: 47%;
  text-align: center;
  margin-right: 3%;
  float: left;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.form-photo img{
  font-size: 3em;
  color: white;
  max-height: 320px;
}
.form{
  width: 50%;
  float: left;
  overflow: auto;
}
.input-group-half{
  display: inline-block;
  width: 49%;
  padding: 1%;
}
.input-group-half label{
  color: white;
  display: block;
  width: 100%;
  font-size: 1em;
}
.form-input-half{
  display: block;
  width: 100%;
}
.input-group{
  display: block;
  width: 99%;
  padding: 1%;
  text-align: left;
}

.input-group label{
  color: white;
  width: 100%;
  display: block;
  font-style: 1em;
}
.form-input{
  width: 100%;
}
#photo{
  background-color: white;
  color: black;
}
.button-group{
  text-align: left;
  margin-top: 5%;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.btn-submit{
  background-color: #208A04;
  border:none;
  color: white;
  font-size: 1em;
  margin: 1%;
  padding: 1%;
  width: 47%;
  cursor: pointer;
}
.btn-submit:hover{
  background-color: #197A00;
}
.btn-reset{
  background-color: #990201;
  border:none;
  color: white;
  font-size: 1em;
  padding: 1%;
  margin: 1%;
  width: 47%;
  cursor: pointer;
}
.btn-reset:hover{
  background-color: #830100;
}
input:focus, textarea:focus , select:focus{
  box-shadow: 0px 0px 17px #BD0000;
}
























/* The Responsive */

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* universal */
  .mini-title{
    font-size: 0.6em !important;
  }
  .button{
    width: 50% !important;
    margin-top: 50px !important;
  }
 
  .landing1-message h1 , .landing2-message h1 {
    font-size: 2em;
    margin-bottom: 3%;
    font-weight: 400;
  }
  .landing1-message h4, .landing2-message h4 {
    font-size: 0.8em;
  }

  .intro1-message h1, .intro2-message h1, .schedule-message h1, .about-message h1,  .picture-gallery-message h1 , .speaker-message h1, .form-message h1{
    font-size: 1.7em;
  }
  .intro1-message h4, .intro2-message h4, .schedule-message h4, .about-message h4, .picture-gallery-message h4, .speaker-message h4, .form-message h4{
    font-size: 0.8em;
  }
  .intro1-message hr, .intro2-message hr, .schedule-message hr, .picture-gallery-message hr, .speaker-message hr, .form-message hr{
    height: 7px;
    margin-bottom: 5px !important;
    margin-top: 3px !important; 
  }
  /* SCHEDULE TABLE */
  .schedule{
    padding-left: 3%;
    padding-right: 03%;
  }
  .schedule-navigation a {
    font-size: 1em;
  }
  .schedule-table tr td{
    font-size: 0.8em;
  }

  /*LANDING 1 */
  .landing1{
    padding-top: 30%;
    padding-bottom: 30%;
  }
  .landing1-message h1 {
    font-size: 3em;
    margin:0;
    font-weight: 400;
  }
  .countdown{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .count-item h3{
    font-size: 0.8em;
  }

  .count-item{
    width: 20%;
    margin: 1%;
  }
  .count-satuan{
    bottom: 10px;
    font-size: 5pt !important;
  }

  .landing2{
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .landing2-message{
    padding-top: 45%;
    padding-bottom: 45%;
  }

  /* INTRO */
  .intro1,.intro2, .picture-gallery-content{
    padding-left: 5%;
    padding-right: 5%;
  }

  .intro1-desc{
    max-width: 100%;
    display: block;
  }
  .intro1-desc p {
    font-family: calibri;
    font-size: 1em;
  }

 .intro1-img{
    width: 100%;
    display: block;
    padding: 0;
  }

  /* SLIDE SHOW */
  .slide-show{
    display: none;
  }

/* PICTURE GALLERY  */

  .picture-gallery{
    padding-left: 7%;
    padding-right: 7%;
  }

  .picture-gallery-content{
    padding: 0;
  }
  .pct{
    max-width: 100%;
  }


  /* FORM */
  .form-photo{
    width: 100%;
    margin-right: 0%;
    float: none;
    display: block;
  }
  .form{
    width: 100%;
    float: none;
    display: block;
    overflow: auto;
  }

  /* SPEAKER */
  .speaker{
    padding-right: 5%;
    padding-left: 5%;
  }

  .speaker-desc{
    max-width: 100%;
    display: block;
    text-align: left !important;
  }
  .speaker-desc h1 {
    font-family: calibri;
    font-size: 1.2em;
    color: white;
  }

  .speaker-desc p{
    font-size: 1em;
    margin-top: 0;
  }
  .speaker-desc hr{
    height: 3px;
    margin-bottom: 5px;
    margin-top: 3px;
    margin-left: 0% !important;
    margin-right: 90% !important;
  }
  .speaker-img{
    padding-top: 0%;
    display: block;
    max-width: 100%;
  }
  .speaker-img img{
    filter: grayscale(100%);
    -webkit-transition: filter 2s ease;
       -moz-transition: filter 2s ease;
        -ms-transition: filter 2s ease;
         -o-transition: filter 2s ease;
            transition: filter 2s ease;
  }
  .speaker-img img:hover{
    filter: grayscale(0%);
  }




  /* ABOUT */
  .about{
    padding-right: 5%;
    padding-left: 5%;
  }

  .about-message{
    max-width: 100%;
    display: block;
  }

  .about-content{
    max-width: 100%;
    float: none;
    display: block;
    text-align: center;
  }

  .feature{
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .feature-item{
    max-width: 100%;
    float: none;
    overflow: auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .feature-icon span {
    font-size: 2em !important;
  }

  .feature-content h4{
    font-size: 1.1em;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .feature-content p{
    margin: 0;
  }


  /* LOGO */
  .logo{
    padding: 1% 3% 1% 3%;
  }

  .logo img{
    background-color: transparent;
    max-width: 50%;
    max-height: 100px;
  }

  /*FOOTER */
  .footer a{
    font-size: 0.7em;
  }


}


@media only screen 
and (min-device-width : 480px) 
and (max-device-width : 768px) {
    /* universal */
  .mini-title{
    font-size: 0.6em !important;
  }
  .button{
    width: 50% !important;
    margin-top: 50px !important;
  }

  .intro1-message h1, .intro2-message h1, .schedule-message h1, .about-message h1, .picture-gallery-message h1 , .speaker-message h1, .form-message h1{
    font-size: 2.5em;
  }
  .intro1-message h4, .intro2-message h4, .schedule-message h4, .about-message h4, .picture-gallery-message h4, .speaker-message h4, .form-message h4{
    font-size: 1em;
  }
  hr{
    margin-bottom: 5px !important;
    margin-top: 3px !important;
  }


  /* Landing */

  .landing1{
    padding-top: 15%;
    padding-bottom: 20%;
  }
  .landing1-message h1{
    font-size: 3.4em;
    font-weight: 400;
  }
  .landing1-message h4{
    font-size: 1em;
  }
  .landing2-message h1 {
    font-size: 2em;
    margin:0 !important;
    font-weight: 400;
  }
  .landing2-message h4 {
    font-size: 1em !important;
  }

  .countdown{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .count-item h3{
    font-size: 1.5em;
  }

  .count-item{
    width: 20%;
    margin: 1%;
  }
  .count-satuan{
    bottom: 10px;
    font-size: 7pt !important;
  }

  .landing2{
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .landing2-message{
    padding-top: 35%;
    padding-bottom: 35%;
  }
  .landing2-message h1{
    font-weight: 400;
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .landing2-message h4{
    font-size: 1.3em;
  }


  /* INTRO */
  .intro1,.intro2{
    padding-left: 7%;
    padding-right: 7%;
  }

  .intro1-desc{
    max-width: 100%;
    display: block;
  }
  .intro1-desc p {
    font-family: calibri;
    font-size: 1em;
  }

  .intro1-img{
    width: 100%;
    display: block;
    padding: 0;
  }
  .intro-img img{
    text-align: center;
  }

    /* SLIDE-SHOW  */

  .slide-arrow-left, .slide-arrow-right{
    font-size: 3em;
  }
  .slide-indicator{
    position: absolute;
    overflow: auto;
    bottom: 5%;
    text-align: center;
    width: 100%;
  }
  .color-white{
    background-color: white;
  }
  .circle{
    display: inline-block;
    border:2px solid white;
    padding: 3px;
    border-radius: 50%;
  }
  .slide-show{
    display: none;
  }


  /* FORM */
  .form-pendaftaran{
    padding: 10% 5% 10% 5% !important;
  }
/* PICTURE GALLERY  */

  .picture-gallery{
    padding-left: 7%;
    padding-right: 7%;
  }

  .picture-gallery-content{
    padding: 0;
  }
  .pct{
    max-width: 28%;
  }
  /* SPEAKER */
  .speaker{
    padding-right: 5%;
    padding-left: 5%;
  }

  .speaker-desc{
    max-width: 100%;
    display: block;
    text-align: left !important;
  }
  .speaker-desc h1 {
    font-family: calibri;
    font-size: 1.5em;
    color: white;
  }

  .speaker-desc p{
    font-size: 1.2em;
    margin-top: 0;
  }
  .speaker-desc hr{
    height: 3px;
    margin-bottom: 5px;
    margin-top: 3px;
    margin-left: 0% !important;
    margin-right: 90% !important;
  }
  .speaker-img{
    padding-top: 0%;
    display: block;
    max-width: 100%;
  }
  .feature{
    padding-right: 5%;
    padding-left: 5%;
  }
  .feature-icon span{
    font-size: 2em !important;
    margin-top: 10% !important;
  }
  .feature-icon{
    margin-top: 10% !important;
  }

    /* ABOUT */
  .about{
    padding-right: 5%;
    padding-left: 5%;
  }

  .about-message{
    max-width: 100%;
    display: block;
  }
  .about-content{
    max-width: 100%;
    float: none;
    display: block;
    text-align: center;
  }
    /* LOGO */
  .logo{
    padding: 1% 3% 1% 3%;
  }

  .logo img{
    background-color: transparent;
    max-width: 32%;
    max-height: 100px;
  }
}    




@media only screen 
and (max-width : 1224px)
and (min-width: 768px) {
      /* universal */
  .mini-title{
    font-size: 0.8em !important;
  }
  .button{
    width: 20% !important;
    margin-top: 50px !important;
  }

  .intro1-message h1, .intro2-message h1, .picture-gallery-message h1 , .speaker-message h1, .slide-show-message h1{
    font-size: 2.5em;
  }
  .intro1-message h4, .intro2-message h4, .picture-gallery-message h4, .speaker-message h4, .slide-show-message h4{
    font-size: 1em;
  }
  hr{
    margin-bottom: 5px !important;
    margin-top: 3px !important;
  }


  /* Landing */
  .landing1-message{
    padding-top: 15%;
  }
  .landing1-message h1{
    font-size: 4.5em;
    font-weight: 400;
  }
  .landing1-message h4{
    font-size: 1em;
  }
  .landing2-message h1 {
    font-size: 2.5em;
    margin:0 !important;
    font-weight: 400;
  }
  .landing2-message h4 {
    font-size: 1em !important;
  }

  .count-item h3{
    font-size: 2em;
    font-weight: lighter;
  }

  .count-item{
    width: 20%;
  }
  .count-satuan{
    bottom: 10px;
    font-size: 11pt !important;
  }


  .landing2-message{
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .landing2-message h1{
    font-weight: 400;
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .landing2-message h4{
    font-size: 1.3em;
  }


  /* INTRO */
  .intro1,.intro2{
    padding-left: 10%;
    padding-right: 10%;
  }

  .intro1-desc p {
    font-family: calibri;
    font-size: 1em;
  }

  .intro-img img{
    text-align: center;
  }

    /* SLIDE-SHOW  */

  .slide-arrow-left, .slide-arrow-right{
    font-size: 3em;
  }
  .slide-indicator{
    position: absolute;
    overflow: auto;
    bottom: 5%;
    text-align: center;
    width: 100%;
  }
  .color-white{
    background-color: white;
  }
  .circle{
    display: inline-block;
    border:2px solid white;
    padding: 3px;
    border-radius: 50%;
  }



/* PICTURE GALLERY  */

  .picture-gallery{
    padding-left: 7%;
    padding-right: 7%;
  }

  .picture-gallery-content{
    padding: 0;
  }


  /* SPEAKER */
  .speaker{
    padding-right: 10%;
    padding-left: 10%;
  }
  .speaker-desc h1 {
    font-family: calibri;
    font-size: 1.5em;
    color: white;
  }

  .speaker-desc p{
    font-size: 1.2em;
    margin-top: 0;
  }
  .speaker-desc hr{
    height: 5px;
    margin-bottom: 5px;
    margin-top: 3px;
  }
    /* ABOUT */
  .about{
    padding-right: 5%;
    padding-left: 5%;
  }  
  .feature{
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .feature-icon span {
    font-size: 2em !important;
  }

  .feature-content h4{
    font-size: 1.1em;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .feature-content p{
    margin: 0;
  }

}