.navigation{
	display: block;
	min-width: 100%;
	padding: 0;
	background-color: transparent;
	position: fixed;
	-webkit-transition: background-color 2s ;
	   -moz-transition: background-color 2s ;
	    -ms-transition: background-color 2s ;
	     -o-transition: background-color 2s ;
	        transition: background-color 2s ;
}
.navbar-responsive{
	list-style-type: none;
	margin: 0;
	display: none;
}
.navbar-nav {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.5s linear;
	   -moz-transition: max-height 0.5s linear;
	    -ms-transition: max-height 0.5s linear;
	     -o-transition: max-height 0.5s linear;
	        transition: max-height 0.5s linear;
}

.navbar-nav li span{
	margin-left: 20px;
}

.navbar-nav li , .navbar-responsive li{
	display: inline-block;
	padding: 0;
	font-size: 1.2em;
	-webkit-transition: background-color 2s ;
	   -moz-transition: background-color 2s ;
	    -ms-transition: background-color 2s ;
	     -o-transition: background-color 2s ;
	        transition: background-color 2s ;

}

.navbar-responsive li > a {
	display: block;
	text-decoration: none;
	padding-left: 10%;
	text-transform: uppercase;
	background-color: transparent;
	color: #000000;
	-webkit-transition: color 2s ;
	   -moz-transition: color 2s ;
	    -ms-transition: color 2s ;
	     -o-transition: color 2s ;
	        transition: color 2s ;
}

.navbar-responsive button{
	color: black;
}
.navbar-nav li > a {
	display: block;
	text-decoration: none;
	padding-top: 25px;
	padding-left: 35px;
	padding-bottom: 25px;
	padding-right: 35px;
	color: #949494;
	-webkit-transition: color 0.5s ;
	   -moz-transition: color 0.5s ;
	    -ms-transition: color 0.5s ;
	     -o-transition: color 0.5s ;
	        transition: color 0.5s ;
}


.daftar{
	float:right;
}
.daftar a{
	cursor: pointer;
}

.navbar-nav li a.nav-brand{
	background-color: transparent;
	color: white;
	text-transform: uppercase;
	font-weight: bolder;
	padding-left:50px;
	border:2px solid transparent;
	padding-right: 50px;
}

.navbar-nav li a:not(.nav-brand):hover{
	border-bottom: 2px solid transparent;
}
.navbar-nav li a:hover{
	color: white;
}
.navbar-nav li a span{
	float: right;
	font-size: 1em;
}

.color{
	background-color: red;
}
.nav-toggle{
	background-color: transparent;
	border:none;
	color: white;
	float: right;
	margin: 11px;
}
.nav-toggle span{
	font-size: 2em;
}

/* DROPDOWN   */

.dropdown{
	max-height: 0;
	position:absolute;
	overflow: hidden;
	-webkit-transition: max-height .5s linear;
	   -moz-transition: max-height .5s linear;
	    -ms-transition: max-height .5s linear;
	     -o-transition: max-height .5s linear;
	        transition: max-height .5s linear;
}
.dropdown a{
	display: inline-block;
	text-decoration: none;
	float: left;
	padding-top: 15px;
	padding-left: 35px;
	padding-bottom: 15px;
	padding-right: 35px;
	color: #949494;
	min-width: 190px;
	background-color: white;
}
.dropdown a:hover{
	background-color: #DADADA;
}
#sub:hover .dropdown{
	max-height: 100%;
}
#sub a > span{
	-webkit-transition: transform .3s linear;
	   -moz-transition: transform .3s linear;
	    -ms-transition: transform .3s linear;
	     -o-transition: transform .3s linear;
	        transition: transform .3s linear;
}
.caret-down{
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);
}
.brand-scroll{
	background-color: #039300;
}
.nav-scroll{
	background-color: white;
	z-index: 2;
}
.nav-border{
	border-color:transparent;
}
.nav-color{
	color: black;
}
/*
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 768px) {
	.navbar-responsive{
		display: none;
	}
	.navbar-nav{
		padding:0;
	}
	.navbar-nav li a{
		padding-top: 15px;
		padding-left: 25px;
		padding-bottom: 15px;
		padding-right: 25px;
	}

}*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) {
	.navigation{
		background-color: white;
	}
	.navbar-nav li a:not(.nav-brand):hover{
		border:none;
	}
	.navbar-nav li a:hover{
		color: black;
	}
	.daftar{
		float: none;
		display: block;
	}
	.navbar-nav{
		padding: 0;
		max-height: 0;
		min-width: 100%;
	}
	.slide-down{
		max-height: 20em;
	
	}
	.navbar-nav li{
		display: block;
		background: red; /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient(#FBFBFB,#FFFFFF); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(#FBFBFB,#FFFFFF); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(#FBFBFB,#FFFFFF); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(#FBFBFB,#FFFFFF); /* Standard syntax */
	}
	.navbar-nav li a , .navbar-responsive li a {
		padding: 15px;
		border:none;
	}
	.navbar-nav .nav-brand{
		display: none;
	}
	.navbar-responsive{
		padding:0;
		display: block;
	}

	.dropdown a{
		min-width: 100%;
	}
}