.navigation{
	display: block;
	min-width: 100%;
	padding: 0;
	z-index: 2;
	background-color: transparent;
	position: fixed;
	-webkit-transition: background-color 2s ;
	   -moz-transition: background-color 2s ;
	    -ms-transition: background-color 2s ;
	     -o-transition: background-color 2s ;
	        transition: background-color 2s ;
}
.navbar-responsive{
	list-style-type: none;
	margin: 0;
	display: none;
}
.navbar-nav {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.5s linear;
	   -moz-transition: max-height 0.5s linear;
	    -ms-transition: max-height 0.5s linear;
	     -o-transition: max-height 0.5s linear;
	        transition: max-height 0.5s linear;
}

.navbar-nav li span{
	margin-left: 20px;
}

.navbar-nav li , .navbar-responsive li{
	display: inline-block;
	padding: 0;
	-webkit-transition: background-color 2s ;
	   -moz-transition: background-color 2s ;
	    -ms-transition: background-color 2s ;
	     -o-transition: background-color 2s ;
	        transition: background-color 2s ;

}

.navbar-responsive li > a {
	display: block;
	text-decoration: none;
	padding-left: 10%;
	text-transform: uppercase;
	background-color: transparent;
	color: #949494;
}

.navbar-nav li > a{
	display: block;
	text-decoration: none;
	padding-top: 25px;
	padding-left: 35px;
	padding-bottom: 25px;
	padding-right: 35px;
	color: #949494;
}

.navbar-nav li a.nav-brand{
	background-color: transparent;
	color: white;
	text-transform: uppercase;
	font-weight: bolder;
	padding-left:50px;
	padding-right: 50px;
}

.navbar-nav li a:hover{
	color: white;
}
.navbar-nav li a span{
	float: right;
	font-size: 1em;
}

.daftar{
	float:right;
}
.daftar a{
	cursor: pointer;
}

.color{
	background-color: red;
}
.nav-toggle{
	background-color: transparent;
	border:none;
	color: white;
	float: right;
	margin: 11px;
}
.nav-toggle span{
	font-size: 2em;
}

/* DROPDOWN   */

.dropdown{
	max-height: 0;
	position:absolute;
	overflow: hidden;
	-webkit-transition: max-height .5s linear;
	   -moz-transition: max-height .5s linear;
	    -ms-transition: max-height .5s linear;
	     -o-transition: max-height .5s linear;
	        transition: max-height .5s linear;
}
.dropdown a{
	display: inline-block;
	text-decoration: none;
	float: left;
	padding-top: 15px;
	padding-left: 35px;
	padding-bottom: 15px;
	padding-right: 35px;
	color: #949494;
	min-width: 20%;
	background-color: transparent;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	    -ms-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}
.dropdown a:hover{
	background-color: #272727;
}
#sub:hover .dropdown{
	max-height: 250px;
}
#sub a > span{
	-webkit-transition: transform .3s linear;
	   -moz-transition: transform .3s linear;
	    -ms-transition: transform .3s linear;
	     -o-transition: transform .3s linear;
	        transition: transform .3s linear;
}
.caret-down{
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);
}
.brand-scroll{
	background-color: #BD0000;
}
.nav-scroll{
	background-color: #222222;
	z-index: 2;
}
.nav-color{
	background-color: #222222 !important;
}
/*
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 768px) {
	.navbar-responsive{
		display: none;
	}
	.navbar-nav{
		padding:0;
	}
	.navbar-nav li a{
		padding-top: 15px;
		padding-left: 25px;
		padding-bottom: 15px;
		padding-right: 25px;
	}

}*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) {
	.navigation{
		background-color: #222222;
	}
	.navbar-nav{
		padding: 0;
		max-height: 0;
		min-width: 100%;
	}
	.daftar{
		float: none;
		display: block;
	}
	.slide-down{
		max-height: 20em;
	
	}
	.navbar-nav li{
		display: block;
		background: red; /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient(#1D1D1D,#222222); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(#1D1D1D,#222222); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(#1D1D1D,#222222); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(#1D1D1D,#222222); /* Standard syntax */
	}
	.navbar-nav li a , .navbar-responsive li a {
		padding: 15px;
	}
	.navbar-nav .nav-brand{
		display: none;
	}
	.navbar-responsive{
		padding:0;
		display: block;
	}
	#sub:hover .dropdown{
		max-height: 250px;
	}
	.dropdown a{
		width: 33%;
		float: left;
		display: inline-block;
		background-color: #222222;
	}
}

@media only screen 
and (min-width : 1224px)
and (max-width : 1024px) {
	.dropdown a{
		background-color: red;
	}
}